@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

$text: rgb(28, 28, 28);
$faded_dark: rgba(28, 28, 28, 0.8);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
button,
a {
  font-family: "Fjalla One", sans-serif;
  color: $text;
}

p,
label {
  font-family: "Roboto", sans-serif;
  //   color: $text;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

//
.art {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30vw;
  transition: 0.2s ease-in-out;
}

.bio {
  background: rgb(28, 28, 28);
  color: white;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

  p::selection {
    color: black;
    background: white;
  }

  label {
    font-style: italic;
    font-size: 0.9rem;
    padding: 5px 0;
    margin-bottom: 35px;
  }

  &__media {
    max-width: 450px;
    width: 100%;
    height: 20%;
    border: 3px solid rgb(242, 242, 242);
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    object-fit: cover;
  }
}

//
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.project {
  height: auto;
  width: 248px;
  padding: 15px;
  border: 2px solid rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  margin: 0 25px 15px 0;
  text-decoration: none;

  h3 {
    margin: 0 0 5px 0;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.socials {
  display: flex;
  list-style: none;
  a {
    margin-right: 25px;
  }
}
