@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

$text: rgb(28, 28, 28);
$faded_dark: rgba(28, 28, 28, 0.8);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
button,
a {
  font-family: "Fjalla One", sans-serif;
  color: $text;
}

p,
label {
  font-family: "Roboto", sans-serif;
  //   color: $text;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

$slideout_width: 50vw;
@media screen and (max-width: 992px) {
  $slideout_width: 100vw;
}

.slideout {
  position: fixed;
  right: 0;
  width: $slideout_width;
  top: 0;
  transition: 0.2s ease-in-out;
  transform: translateX($slideout_width);
  z-index: 10;
  height: 90vh;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;

  @media screen and (max-width: 992px) {
    width: 100vw;
    transform: translateX(100vw);
  }

  &--expanded {
    transform: translateX(0vw);
  }

  &--closed {
    transform: translateX($slideout_width);
  }

  &__inner {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    border-bottom: 30px solid transparent;
  }

  &__controls {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: black;

    @media screen and (max-width: 992px) {
      left: 0;
      width: 100%;
      z-index: 10;
    }

    * {
      background: rgb(28, 28, 28);
      padding: 5px 12px;
      color: white;
      display: flex;
      align-items: center;
    }

    button {
      font-size: 24px;
      border: none;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        background: #e3e3e3;
        color: $text;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.art {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30vw;
  transition: 0.2s ease-in-out;
}

.bio {
  background: rgb(28, 28, 28);
  color: white;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

  p::selection {
    color: black;
    background: white;
  }

  label {
    font-style: italic;
    font-size: 0.9rem;
    padding: 5px 0;
    margin-bottom: 35px;
  }

  &__media {
    max-width: 450px;
    width: 100%;
    height: 20%;
    border: 3px solid rgb(242, 242, 242);
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    object-fit: cover;
  }
}

//
.container {
  padding: 64px;

  @media screen and (max-width: 992px) {
    padding: 32px;
  }
}

#logo {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  border: 5px solid rgb(233, 233, 233);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.project {
  height: auto;
  width: 248px;
  padding: 15px;
  border: 2px solid rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  margin: 0 25px 15px 0;
  text-decoration: none;

  h3 {
    margin: 0 0 5px 0;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.socials {
  display: flex;
  list-style: none;
  a {
    margin-right: 25px;
  }
}
