@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a {
  color: rgb(28, 28, 28);
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 42px;
}

h1,
h2,
h3,
.projects {
  margin: 35px 0;
}

h2,
h3,
h4,
h5 {
  font-family: "Fjalla One", sans-serif;
  font-weight: lighter;
}

p,
a {
  font-family: "Roboto", sans-serif;
  color: rgb(51, 51, 51);
}

.container {
  padding: 64px;
}

#logo {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  border: 5px solid rgb(233, 233, 233);
}

.projects {
  display: flex;
}

.project {
  height: 98px;
  width: 248px;
  padding: 15px;
  border: 2px solid rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  text-decoration: none;

  h3 {
    margin: 0 0 5px 0;
  }
}

.socials {
  display: flex;
  list-style: none;
  a {
    margin-right: 25px;
  }
}
